.purchase-list {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
  
  .filter-row {
    display: flex;
    justify-content: flex-end;
    gap: 16px;
    margin-bottom: 16px;
  }
  
  .item-list {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
  
  .purchase-item {
    display: flex;
    background-color: #1a1a1a;
    color: white;
    padding: 16px;
    border-radius: 8px;
    align-items: center;
  }
  
  .item-image {
    width: 267px;
    height: 163px;
    object-fit: cover;
    margin-right: 16px;
    border-radius: 4px;
  }
  
  .item-info {
    flex: 1;
  }
  
  .item-info p {
    margin: 4px 0;
  }
  
  .purchase-item-title {
    font-weight: bold;
    font-size: 17.6px;
  }
  
  .artist {
    color: #aaa;
  }
  
  .date-filter {
    background: transparent;
    border: 1px solid white;
    color: white;
    padding: 6.4px 16px;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .pagination {
    text-align: center;
    margin-top: 32px;
    color: white;
  }
  