.sidebar {
  padding: 1rem; /* p-4 */
  width: 18rem; /* w-72 */
  background-color: hsl(var(--b1) / var(--tw-bg-opacity, 1)); /* bg-base-100 */
  color: hsl(var(--bc) / var(--tw-text-opacity, 1)); /* text-base-content */
}

.sidebar-profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1.5rem; /* mb-6 */
}

.profile-image {
  width: 6rem; /* w-24 */
  height: 6rem; /* h-24 */
  border-radius: 9999px; /* rounded-full */
  margin-bottom: 0.5rem; /* mb-2 */
}

.profile-name {
  font-size: 1.25rem; /* text-xl */
  font-weight: 600; /* font-semibold */
}

.profile-email {
  font-size: 0.875rem; /* text-sm */
}

.profile-stats {
  margin-top: 0.5rem; /* mt-2 */
  font-size: 0.875rem; /* text-sm */
}

.profile-stats span {
  margin-left: 0.5rem; /* space-x-2 */
  margin-right: 0.5rem;
}

.menu-list {
  list-style-type: none;
  padding: 0;
}

.menu-item a {
  display: block;
  padding: 0.5rem;
}

.menu-item-error a {
  color: hsl(var(--er)); /* text-error */
}

.register-button {
  display: inline-flex;
  flex-shrink: 0;
  cursor: pointer;
  user-select: none;
  text-align: center;
  border-radius: var(--rounded-btn, 0.5rem);
  border-width: var(--border-btn, 1px);
  border-color: currentColor;
  padding-left: 1rem;
  padding-right: 1rem;
  text-align: center;
  font-weight: 600;
  height: 3rem;
  min-height: 3rem;
  line-height: 1;
  font-size: 0.875rem;
  margin-top: 1rem; /* mt-4 */
  background-color: transparent;
  color: currentColor;
  width: 100%;
} 